<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="BACK" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="fav()">
        <ion-icon #favIcon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="primary" *ngIf="element" [routerLink]="'/update-contact/' + element.id">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="element">
  <ion-row>
    <ion-col class="content-col">
      <ion-thumbnail class="user-image">
        <img [src]="getMyIcon(element.id)">
      </ion-thumbnail>
      <ion-text >
        <h2 class="user-name">{{element.id}}</h2>
      </ion-text>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Account</ion-label>
          <ion-input color="primary" readonly="true">{{element.data.xrp}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Seed</ion-label>
          <ion-input color="primary" readonly="true">{{element.data.seed}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="showNuggets(element.data.xrp)" size="large">
            <ion-icon name="eye"></ion-icon> LOAD NUGGETS: <b> {{element.id}} </b> 
          </ion-button>
        </ion-item>
        <ion-item *ngIf="nuggetsLoaded">
          <ion-label position="stacked">Nuggets created</ion-label>
          <ion-input color="primary" readonly="true">{{dataService.xrplProv.shownNuggets.length}}</ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
