<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      BattleCoin Universe
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="openNewContactModal()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- https://ionicframework.com/docs/api/title#collapsible-large-titles -->
<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" (click)="openNewContactModal()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="filterContacts($event)" value="All">
    <ion-segment-button value="All" checked>
      All
    </ion-segment-button>
    <ion-segment-button value="elements">
      Elements
    </ion-segment-button>
    <ion-segment-button value="nuggets">
      Nuggets
    </ion-segment-button>
    <ion-segment-button value="items">
      Items
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="currentSegment=='elements'">
    <ion-item *ngFor="let element of elements" [routerLink]="'/contact-details/' + element.id">
      <ion-thumbnail class="user-image">
        <img [src]="getMyIcon(element.id)">
      </ion-thumbnail>
      <ion-label>{{ element.id }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="currentSegment=='nuggets'">
    <ion-item *ngFor="let element of nuggets" [routerLink]="'/nugget-details/' + element.id">
      <ion-label>{{ element.id }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="currentSegment=='items'">
    <ion-item *ngFor="let element of items" [routerLink]="'/contact-details/' + element.id">
      <ion-label>{{ element.id }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
